In [1]:
import pandas as pd 
import numpy as np
df = pd.read_csv("BBCNews.csv")

In [2]:
print(df.head(10))

   Unnamed: 0                                              descr  \
0           0  chelsea sack mutu  chelsea have sacked adrian ...
1           1  record fails to lift lacklustre meet  yelena i...
2           2  edu describes tunnel fracas  arsenals edu has ...
3           3  ogara revels in ireland victory  ireland flyha...
4           4  unclear future for striker baros  liverpool fo...
5           5  ronaldo considering new contract  manchester u...
6           6  dawson wins england squad recall  wasps scrumh...
7           7  man utd through after exeter test  manchester ...
8           8  barkley fit for match in ireland  england cent...
9           9  bristol city  milton keynes  leroy lita took h...

                                                tags
0  sports, stamford bridge, football association,...
1  sports, madrid, birmingham, france, scotland, ...
2  sports, derby, brazil, tunnel fracasedu, food,...
3  sports, bbc, united kingdom, ireland, brian o'...
4  sports, liverpool, daily sport, millennium sta...
5  sports, news of the world, portugal, cristiano...
6  sports, leeds, leicester, bath, newport, glouc...
7  sports, exeter city, exeter, scholes, tim howa...
8  sports, bath, gloucester, bell, united kingdom...
9  sports, bristol city, bell, chorley, richard j...

In [3]:
df.describe()

        Unnamed: 0
count  2410.000000
mean   1204.500000
std     695.851397
min       0.000000
25%     602.250000
50%    1204.500000
75%    1806.750000
max    2409.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2410 entries, 0 to 2409
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2410 non-null   int64
 1   descr       2410 non-null   object
 2   tags        2410 non-null   object
dtypes: int64(1), object(2)
memory usage: 56.6+ KB

In [5]:
from collections import Counter

# Step 1: Create a frequency dictionary of all tags
all_tags = []
for tags in df['tags']:
    # Split tags by comma and strip whitespace
    tag_list = [tag.strip() for tag in tags.split(',')]
    all_tags.extend(tag_list)

tag_freq = Counter(all_tags)

# Step 2: Function to select the most frequent tag for a record
def select_most_frequent_tag(tag_string, freq_dict):
    tags_in_record = [tag.strip() for tag in tag_string.split(',')]
    
    # Find the maximum frequency in this record
    max_freq = 0
    selected_tag = None
    
    for tag in tags_in_record:
        if tag in freq_dict and freq_dict[tag] > max_freq:
            max_freq = freq_dict[tag]
            selected_tag = tag
    
    return selected_tag if selected_tag else tags_in_record[0]  # Fallback to first tag

# Step 3: Apply the function to create new column
df['most_frequent_tag'] = df['tags'].apply(
    lambda x: select_most_frequent_tag(x, tag_freq)
)

# Step 4: One-hot encode the selected tags
one_hot_encoded = pd.get_dummies(df['most_frequent_tag'], prefix='tag')
df = pd.concat([df, one_hot_encoded], axis=1)

# Show results
print(df[['descr', 'tags', 'most_frequent_tag']].head())
print(f"\nNumber of new columns: {len(one_hot_encoded.columns)}")

                                               descr  \
0  chelsea sack mutu  chelsea have sacked adrian ...
1  record fails to lift lacklustre meet  yelena i...
2  edu describes tunnel fracas  arsenals edu has ...
3  ogara revels in ireland victory  ireland flyha...
4  unclear future for striker baros  liverpool fo...

                                                tags most_frequent_tag
0  sports, stamford bridge, football association,...            sports
1  sports, madrid, birmingham, france, scotland, ...     united states
2  sports, derby, brazil, tunnel fracasedu, food,...            sports
3  sports, bbc, united kingdom, ireland, brian o'...    united kingdom
4  sports, liverpool, daily sport, millennium sta...            sports

Number of new columns: 44

In [ ]:
df